@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;
}

[class="dark"] {
  --background: black;
  --foreground: white;
}

body {
  color: var(--foreground);
  background: var(--background);
  height: 100vh;
}
